{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<div class="row">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div clas="row">
        <div class="col">
            <img src="{{ asset('images/underconstruction.jpg') }}" style="max-width: 100%" />
        </div>
    </div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/symfony5/guestbook/src/Controller/ConferenceController.php'|file_link(0) }}">src/Controller/ConferenceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/symfony5/guestbook/templates/conference/index.html.twig'|file_link(0) }}">templates/conference/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
